<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content alert alert-danger">
            <div class="modal-header">
                <h4 class="modal-title">Cancelar meta</h4>
            </div>
            <form>
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="metaDescripcionGeneral" class="control-label">Escriba el motivo por el cual se cancela esta meta</label>
                            <textarea class="form-control vertical" rows="1" id="metaDescripcionGeneral"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="$hide()">Cerrar</button>
                        <button type="button" class="btn btn-danger red darken-3" ng-click="$hide()">Cancelar meta</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>