<div class="modal " tabindex="-1" role="dialog">
  <div class="modal-dialog ">
    <div class="modal-content alert alert-danger">
      <div class="modal-header">
        <h4 class="modal-title">Eliminar meta</h4>
      </div>
      <div class="modal-body">
        <p>La meta <strong><u>Lorem ipsum dolor sit amet, consectetur adipiscing elit</u></strong> será eliminada</p>
        <p><strong>¡Cuidado! Esta acción no se puede deshacer</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cerrar</button>
        <button type="button" class="btn btn-danger red darken-3" ng-click="$hide()">Eliminar meta</button>
      </div>
    </div>
  </div>
</div>