<section class="p-b-20">
    <div class="page-header">
        <h1>
              <i class="md md-insert-chart"></i> Habilidades
            </h1>
        <p class="lead">TODOS los campos son obligatorios</p>
    </div>
    <div class="forms-advanced row m-b-40">
        <div class="col-md-12">
            <div class="well white">
                <div class="datatables">
                    <table class="table table-full table-full-small" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <!--<th class="text-center">Tipo</th>-->
                                <th class="text-center">Habilidad</th>
                                <th class="text-center">Cuento con ella</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="habilidad in regHabCtrl.habilidadesInformaticas">
                                <!--<td class="text-center">Informatica</td>-->
                                <td>{{ habilidad.descripcionHabilidad }}</td>
                                <td class="text-center">
                                    <div class="switch">
                                        <small>No</small>
                                        <label class="filled">
                                            <input type="checkbox" ng-model="habilidad.activada" ng-false-value="'NO'">
                                            <span class="lever"></span>
                                        </label>
                                        <small>Si</small>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group p-t-20 text-right" ng-cloak>
                    <button class="btn btn-default">Anterior</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="habilidad.activada" ng-click="regHabCtrl.guardar()" >Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</section>
