<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar detalles</h4>
          </div>        
            <div class="modal-body">
                <form class="form-floating">
                    <fieldset>
                        <div class="form-group">
                            <label for="textArea" class="control-label">Escribe el texto que se deberá incluir en la notificación</label>
                            <textarea class="form-control vertical" rows="3" id="textArea"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="$hide()">Enviar correo</button>
            </div>
        </div>
    </div>
</div>
